@media only screen and (max-width: 700px){

    body,html{
        overflow-x: hidden !important;
    }
    .links{
        /* display: block; */
        /* padding:2rem; */
        text-align: center;
        
    }
    .links li{
        text-align: center;
        margin-right:0;
        display:list-item !important ;
        font-size: 20px !important;
        
    }
    .first-img{
        width:18rem;
        margin-top:-620px !important;
        text-align: center !important;
    }
    .firefox1{
        font-size:20px !important;
        text-align: center !important;
        margin-top:100px !important;
    
    }
    .firefox{
        font-size: 18px !important;
        /* width:200px; */
        margin-top:100px;
        text-align: center !important;
        width: 310px !important;
    }
    .free{
        padding:5px 5px 5px 5px !important;
        font-size:17px !important; 
        text-align: center !important;
    }
    .free2{
        padding: 5px 5px 5px 5px !important;
        text-align: center !important;
    }
    
    .features1{
        font-size: 20px !important;
        text-align: center !important;
    }
    .features{
       
        font-size:18px !important;
        text-align: center;
    }
    
    .second-img{
        width:15rem;
        text-align: center !important;
        
    }
    .book{
        font-size: 20px !important;
        text-align: center !important;
        margin-top: 5px;
    }
    .book h2{
        font-size: 20px !important;
    }
    .extension{
        font-size: 18px !important;
        text-align: center;
        margin-top:-2px !important;
        width: 320px !important;
        
       
    }
    .down{
        margin-top:-116px !important;
        font-size:23px;
    }
    .card{
        margin: 0 auto !important;
    }

    .questions1{
        font-size: 20px !important;
        text-align: center !important;
        width: 260px !important;
    }
  
    .questions{
        font-size: 18px !important;
        text-align: center !important;
        width:260px;
    }
    
    .footer2-content li{
        text-align: center;
        margin-right:0;
        display:list-item !important ;
        font-size: 17px !important;
        
    }
    .footer2-icons{
        text-align: center;
        
    }
    .tabs ul li{
        text-align: center;
        /* height:3rem;  */
        border-bottom:1px solid #dfdfdf; 
        line-height: 0.5rem;
        width:90%;
        margin:0 auto;
        display: inline !important;
        padding:-5px !important;
      
        
    }
    .dva{
        margin-right:-15px !important;
    }
    .pitanja{
        width:85% !important;
    }
    .card{
        text-align: center !important;
    }
}